$primary-color: #ffe9ceff;
$secondary-color: #fff8d6ff;
$tertiary-color: #ffb5c2ff;
$text-color:  #ffffffff;


@mixin flex-center() {
  display: flex;
  justify-content: center;
  align-self: center;
}

*,
::before ::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: "Josefin sans";
  margin: 0;
  padding: 0;
}

a {
  text-decoration: none;
  color: $primary-color;
}

h1 {
  font-family: "MV Boli";
}

.container-fluid {
  display: flex;
  align-items: center;
  width: 100%;
  background: $secondary-color;
}

.header-container {
  width: 100%;
  @include flex-center;
}

.nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 80%;
  &__logo {
    color: $primary-color;
    font-size: 30px;
  }
  &__cart {
    position: relative;
    color: $primary-color;
    font-size: 30px;
    &:hover a {
      color: lighten($primary-color, 10%);
      transition: 0.3s;
    }
    &__number {
      display: inline-flex;
      justify-content: center;
      align-items: center;
      font-size: 20px;
      position: absolute;
      padding: 5px 5px;
      height: 14px;
      background-color: $tertiary-color;
      color: $text-color;
      top: -15px;
      right: -15px;
      border-radius: 200px;
      & p {
        margin: 0;
        padding: 0;
        height: auto;
      }
    }
  }
}

.container {
  @include flex-center;
  width: 100%;
  background: $tertiary-color;
  .product-card {
    margin: 50px 15px;
    display: flex;
    flex-direction: column;
    width: 600px;
    background: $text-color;
    border-radius: 20px 20px 20px 20px;
    box-shadow: 0px 0px 10px 0px rgba(63, 63, 63, 0.49);
    &__img {
      border-radius: 20px 20px 20px 20px;
    }
    &__infos {
      color: $primary-color;
      padding: 15px;
      height: 100%;
      &__title {
        font-family: "MV Boli";
        font-size: 32px;
      }
      &__description {
        font-size: 18px;
        margin: 10px 0;
      }
      &__price {
        font-size: 22px;
        font-weight: bold;
        margin: 20px 0;
      }
      &__buttons {
        display: flex;
        justify-content: space-around;
        text-align: center;
      }
      &__quantity {
        margin-bottom: 20px;
      }
      &__color {
        margin-bottom: 40px;
      }
      .added-to-cart-confirmation {
        visibility: hidden;
        & p {
          padding: 5px;
          background-color: rgb(100, 194, 100);
          border: darken(rgb(100, 194, 100), 20%) 1px solid;
        }
      }
      .product-card__infos__button {
        padding: 20px;
        background: $secondary-color;
        border-radius: 5px;
        border: solid 1px $primary-color;
      }
      .back-to-home {
        background: #d8d8d8;
      }
    }
    &__img {
      height: 50%;
      width: 100%;
      background: #444;
      & img {
        object-fit: cover;
        width: 100%;
        height: 100%;
        border-radius: 20px 20px 0 0;
      }
    }
  }
}

#bearNum {
  width: 50px;
}

footer {
  background: $primary-color;
  @include flex-center;
  width: 100%;
  height: 60px;
  .nav {
    max-width: 1700px;
    color: $text-color;
    display: flex;
    justify-content: space-between;
    width: 80%;
    padding: 0 40px;
    &__link {
      color: $text-color;
      font-size: 24px;
    }
  }
}

// Responsive

@media screen and (max-width: 600px) {
  footer {
    .nav {
      width: 90%;
      &__link {
        font-size: 20px;
      }
    }
  }
}

@media screen and (max-width: 450px) {
  .container {
    .product-card {
      &__infos {
        &__buttons {
          flex-direction: column;
          .product-card__infos__button {
            margin: 5px 0;
          }
        }
      }
    }
  }
}
